@{
    ViewBag.Title = "Home Page";
}
@model form_validation_1.Models.Registration
<style>
    form {
        padding: 10px 400px;
    }
</style>

@if(ViewBag.hello!=null){
    @ViewBag.hello
}







@Html.ValidationSummary()


<form class="border" action="" method="post">
    <div class="form-group">

        <label>Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
        <span class="text-danger">@Html.ValidationMessage("name")</span>

    </div>





    <div class="form-group">

        <label>UsernId</label>
        <input type="text" class="form-control" id="userid" name="userid" placeholder="Enter User Id">
        <span class="text-danger">@Html.ValidationMessage("userid")</span>

    </div>





    <div class="form-group">

        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
        <span class="text-danger">@Html.ValidationMessage("password")</span>
    </div>




    <div class="form-group">

        <label>Id</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Enter Id">
        <span class="text-danger">@Html.ValidationMessage("id")</span>

    </div>





    <div class="form-group">

        <label>
            Email address
        </label>
        <input type="email" class="form-control"  name="email" placeholder="Enter email">
        <span class="text-danger">@Html.ValidationMessage("email")</span>

    </div>





    <div class="form-group">

        <label>Date</label>
        <input type="date" class="form-control" id="date" name="date" placeholder="Enter Date">
        <span class="text-danger">@Html.ValidationMessage("date")</span>

    </div>








    <br>







    <button type="submit" class="btn btn-primary">Submit</button>
</form>












@if (Model!=null)
{



    <ul>
        <li>Name: @Model.name</li>
        <li>UserId: @Model.userid</li>
        <li>Password: @Model.password</li>
        <li>Id: @Model.id</li>
        <li>Email: @Model.email</li>
        <li>Date: @Model.date</li>
        
    </ul>





}




